@import url('https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap');

* {
  /* CSS HSL */
  --space-cadet: hsla(240, 27%, 18%, 1);
  --ultra-violet: hsla(232, 17%, 35%, 1);
  --rose-quartz: hsla(309, 6%, 58%, 1);
  --pale-dogwood: hsla(11, 24%, 72%, 1);
  --isabelline: hsla(21, 35%, 92%, 1);
}

html,
body {
  background: #22223B;
  background: radial-gradient(circle, rgba(34, 34, 59, 1) 0%, rgba(74, 78, 105, 1) 57%);
}

button {
  background-color: var(--isabelline);
  color: var(--space-cadet);
  width: 8rem;
  height: 2.5rem;
  border-radius: 8px;
  font-size: 1.2rem;
}

button:hover {
  background-color: var(--space-cadet);
  color: var(--isabelline);
  cursor: pointer;
}

.rubik-gemstones-regular {
  font-family: "Rubik Gemstones", system-ui;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--isabelline);
  /* border: red .2px solid !important; */
}

h1,
h2 {
  font-family: "Rubik Gemstones", system-ui;
  font-weight: 400;
  font-style: normal;

}

body {
  min-width: 100vw;
  min-height: 100vh
}

main {
  min-height: 80vh;
}

header,
footer {
  min-height: 8vh;
  text-align: center;
  margin-block: 1rem;
}

h1 {
  font-size: 64px;
  font-weight: bold;
  /* font-family: Arial, Helvetica, sans-serif; */
}

h2 {
  font-size: 24px;
  font-weight: bold;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.container {
  max-width: fit-content;
  margin: 0 auto;
}

.haiku pre {
  margin: .5rem;
}

form {
  min-width: 40vw;
  min-height: 60vh;
  border: solid 2px black;
  border-radius: 4px;
  padding: 1rem;



}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 4rem;
}

input,
textarea,
radio {
  background-color: var(--isabelline);
  color: var(--space-cadet);
  border-color: var(--rose-quartz);
  border-radius: 5px;
}

.m-0-auto {
  margin: 0 auto;
}

img {
  filter: drop-shadow(8px 8px 10px var(--space-cadet));
  border-radius: 6px;
}

.one-second-fade {
  animation: fadeInUp;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s;
  /* don't forget to set a duration! */
}

/* Medium devices such as tablets (1024px or lesser) */
@media only screen and (max-width: 1024px) {}

/* Small devices such as phones (768px or lesser) */
@media only screen and (max-width: 768px) {
  .hero {
    text-align: center;
  }

  form {
    width: 90vw;
  }

  h1 {
    font-size: 36px;
  }
}