@import url('https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap');

.rubik-gemstones-regular {
  font-family: "Rubik Gemstones", system-ui;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  /* border: red .2px solid !important; */
}

h1,
h2 {
  font-family: "Rubik Gemstones", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  min-width: 100vw;
  min-height: 100vh
}

main {
  min-height: 80vh;
}

header,
footer {
  min-height: 8vh;
  text-align: center;
  margin-block: 1rem;
}

h1 {
  font-size: 64px;
  font-weight: bold;
  /* font-family: Arial, Helvetica, sans-serif; */
}

h2 {
  font-size: 24px;
  font-weight: bold;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.container {
  max-width: fit-content;
  margin: 0 auto;
}

.haiku pre {
  margin: .5rem;
}

form {
  min-width: 40vw;
  min-height: 60vh;
  border: solid 2px black;
  border-radius: 4px;
  padding: 1rem
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hero {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 4rem;
}